DJANGO_SECRET_KEY=replace_me
DEBUG=False
ALLOWED_HOSTS=*
POSTGRES_DB=ua_db
POSTGRES_USER=ua_user
POSTGRES_PASSWORD=ua_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
JWT_ACCESS_LIFETIME=3600
DJANGO_TIME_ZONE=Africa/Cairo
